body {
    font-family: 'Roboto';
    background-color: #222428;
    margin: 0;
    vertical-align: baseline;
}

.separator-parent {
    overflow: auto;
}

.separator {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    width: auto;
    height: 1px;
    background-color: black;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-wrapper {
    position: relative;
    padding: 10px;
    height: 550px;
    width: 450px;
    background-color: #22262a;
    border-radius: 6px;
    box-shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
}

.photo-wrapper div {
    background-image: url(avatar2.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-wrapper {
    width: 600px;
    margin-left: 20px;
}

.info-wrapper .inner {
    margin-bottom: 120px;
}

.info-wrapper h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-left: 10px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 22px;
    word-break: break-word;
    margin-left: 0;
}

.info-wrapper h1 span {
  color: #ff014f;
}

.info-wrapper .description {
    font-size: 16px;
    line-height: 30px;
    color: #c4cfde;
    padding-right: 16%;
    opacity: 0.9;
}

.info-wrapper .liststyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.info-wrapper span.title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 20px;
}

ul li {
    display: inline-block;
    margin: 10px 12px;
}

ul li a {
    text-decoration: none;
    color: #f6f6f6;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.4s;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
    position: relative;
}

@media only screen and (max-width: 1024px) {
    #main {
        display: block;
        padding: 20px;
        margin-bottom: 50px;
    }
    
    .info-wrapper {
        margin-left: 10px;
        padding-bottom: 50px;
    }
}
