#hire-me {
    margin-top: 50px;
}

.hire-me-card {
    margin-right: auto;
    margin-left: auto;
    width: 35%;
    padding: 10px;
    text-align: left;
    padding: 15px;
    border-radius: 20px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
    z-index: 1;
    transition: 0.5s all ease-in-out;
    padding: 20px;
}

label {
    font-size: 12px;
    color: #a0a8b3;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 14px;
    text-align: left;
    display: block;
}

input {
    width: 100%;
    background-color: #191b1e;
    border-radius: 6px;
    height: 55px;
    padding: 0 15px;
    color: #c4cfde;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    outline: none;
}

input::placeholder {
    color: gray;
}

select:invalid { color: gray; }

select {
    width: 100%;
    background-color: #191b1e;
    border-radius: 6px;
    height: 55px;
    padding: 15px 15px;
    color: #c4cfde;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    border-right: 16px solid transparent
}


textarea {
    width: 100%;
    background-color: #191b1e;
    border-radius: 6px;
    height: 55px;
    padding: 15px 15px;
    color: #c4cfde;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    height: auto;
    font-family: 'Roboto';
}

textarea::placeholder {
    color: gray;
}

button {
    width: 100%;
    padding: 15px 35px;
    display: block;
    text-align: center;
    border-radius: 6px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
    transition: 0.4s;
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 500;
    border: 0 none;
    color: #ff014f;
    cursor: pointer;
}

button span {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

button svg {
    font-family: 'feather' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.form-item {
    margin-bottom: 20px;
}

.hire-me-card p {
    font-size: 16px;
    line-height: 28px;
    color: #c4cfde;
    margin-bottom: 20px;
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1440px) {
    .hire-me-card {
        width: 75%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .hire-me-card {
        width: 80%;
    }
}

@media only screen and (min-device-width : 425px) and (max-device-width : 768px) {
    .hire-me-card {
        width: 80%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .hire-me-card {
        width: 80%;
    }
}