body {
    font-family: 'Roboto';
    background-color: #222428;
    margin: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
  }

.separator-parent {
    overflow: auto;
}

.logo {
    line-height: 1.2;
    color: #ffffff;
    font-weight: 700;
    font-family: inherit;
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 20;
    margin-left: -91.13px;
    text-shadow: 0 0 20px #ff014f;
}

.separator {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    width: auto;
    height: 1px;
    background-color: black;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio-card {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, #1e2024, #23272b);
    border-radius: 20px;
    box-shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
    padding: 30px;
}

.photo-wrapper {
    position: relative;
    padding: 10px;
    height: 550px;
    width: 450px;
    background-color: #22262a;
    border-radius: 6px;
    box-shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
}

.photo-wrapper div {
    background-image: url(../media/avatar2.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-wrapper {
    width: 600px;
    margin-left: 20px;
}

.info-wrapper .inner {
    margin-bottom: 120px;
}

.info-wrapper h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-left: 10px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 22px;
    word-break: break-word;
    margin-left: 0;
}

.info-wrapper h1 span {
  color: #ff014f;
}

.info-wrapper .description {
    font-size: 16px;
    line-height: 30px;
    color: #c4cfde;
    padding-right: 16%;
    opacity: 0.9;
}

.info-wrapper .liststyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.info-wrapper span.title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 20px;
}

ul.social-link-items {
    display: flex;
    justify-content: center;
    padding: 0px;
}

ul.social-link-items li {
    display: inline-block;
    margin: 10px 12px;
}

ul.social-link-items li a {
    text-decoration: none;
    color: #f6f6f6;
}

ul.social-link-items li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.4s;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
    position: relative;
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1440px) {
    .info-wrapper h1 {
        font-size: 40px;
    }

    .info-wrapper .description {
        font-size: 14px;
    }

    .info-wrapper span.title {
        font-size: 12px;
    }

    .info-wrapper .inner {
        margin-bottom: 85px;
    }

    .photo-wrapper {
        height: 487px;
        width: 400px;
    }

    .section-title span.subtitle {
        font-size: 13px;
    }

    .section-title.text-center h2.title {
        font-size: 50px;
        margin-top: 10px;
    }

    .photo-wrapper {
        height: 470px;
        width: 370px;
    }

    .info-wrapper {
        width: 500px;
        margin-left: 20px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .info-wrapper h1 {
        font-size: 29px;
    }

    .info-wrapper .description {
        font-size: 14px;
    }

    .info-wrapper span.title {
        font-size: 10px;
    }

    .info-wrapper .inner {
        margin-bottom: 40px;
    }

    .photo-wrapper {
        height: 460px;
        width: 340px;
    }

    .section-title span.subtitle {
        font-size: 11px;
    }

    .section-title.text-center h2.title {
        font-size: 40px;
        margin-top: 10px;
    }

    .portfolio-card {
        padding: 10px;
    }

    .info-wrapper {
        width: 340px;
        margin-left: 15px;
    }

    ul.social-link-items li a {
        font-size: 20px;
    }

}

@media only screen and (min-device-width : 425px) and (max-device-width : 768px) {
    .info-wrapper h1 {
        font-size: 29px;
    }

    .info-wrapper .description {
        font-size: 14px;
    }

    .info-wrapper span.title {
        font-size: 10px;
    }

    .info-wrapper .inner {
        margin-bottom: 40px;
    }

    .photo-wrapper {
        height: 460px;
        width: 340px;
    }

    .section-title span.subtitle {
        font-size: 11px;
    }

    .section-title.text-center h2.title {
        font-size: 40px;
        margin-top: 10px;
    }

    .portfolio-card {
        padding: 10px;
    }

    .info-wrapper {
        width: 100%;
        margin-left: 15px;
    }

    ul.social-link-items li a {
        font-size: 20px;
    }

    #particles-js canvas {
        display: none;
    }

    .portfolio-card {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
    }

    #particles-js {
        height: auto;
    }
}

@media only screen and (max-device-width : 480px) {
    .portfolio-card .photo-wrapper {
        width: 100%;
        padding: 0px;
    }
    
    .portfolio-card {
        padding: 0;
    }
    
    .info-wrapper h1 {
        font-size: 29px;
    }

    .info-wrapper .description {
        font-size: 14px;
    }

    .info-wrapper span.title {
        font-size: 10px;
        margin-bottom: 5px;
    }

    ul.social-link-items {
        display: block;
    }

    ul.social-link-items li {
        margin: 5px 5px;
    }

    .info-wrapper .inner {
        margin-bottom: 40px;
    }

    .photo-wrapper {
        height: 460px;
        width: 340px;
    }

    .section-title span.subtitle {
        font-size: 11px;
    }

    .section-title.text-center h2.title {
        font-size: 40px;
        margin-top: 10px;
    }

    .portfolio-card {
        padding: 10px;
    }

    .info-wrapper {
        width: 100%;
        margin-left: 0px;
    }

    ul.social-link-items li a {
        font-size: 20px;
    }

    #particles-js canvas {
        display: none;
    }

    .portfolio-card {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
    }

    #particles-js {
        height: auto;
    }
}
