#partfolio {
    width: 100%;
    display: block;
    margin-bottom: 40px;
    text-align: center;
}

.section-title {
    text-align: center;
    display: block;
}

.section-title span.subtitle {
    color: #f9004d;
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.section-title h2.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #c4cfde;
    margin-top: 15px;
    margin-bottom: 40px;
}

.card {
    text-align: left;
    display: block;
    padding: 15px;
    border-radius: 20px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
    position: relative;
    z-index: 1;
    transition: 0.5s all ease-in-out;
    display: inline-block;
    margin: 20px;
}

.card:hover {
    background: linear-gradient(145deg, #1e2024, #1a1a1a);
}

.card h4 {
    font-weight: 500;
    font-size: 35px;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #c4cfde;
}

.card p {
    font-size: 16px;
    line-height: 28px;
    color: #c4cfde;
    margin-bottom: 0px;
}

.card .thumbnail {
    overflow: hidden;
    border-radius: 20px;
}

.card .thumbnail img {
    max-width: 400px;
    max-height: 300px;
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: 0.4s;
}

.card:hover .thumbnail img {
    transform: scale(1.1);
}

.portfolio-card {
    display: gird;
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1440px) {
    .card h4 {
        font-size: 30px;
    }

    .card p {
        font-size: 15px;
        margin-top: 5px;
    }

    .card .thumbnail img {
        width: 350px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .card h4 {
        font-size: 30px;
    }

    .card p {
        font-size: 15px;
        margin-top: 5px;
    }

    .card .thumbnail img {
        width: 350px;
    }
}

@media only screen and (min-device-width : 425px) and (max-device-width : 768px) {
    .card h4 {
        font-size: 30px;
    }

    .card p {
        font-size: 15px;
        margin-top: 5px;
    }

    .card .thumbnail img {
        width: 100%;
    }

    #partfolio {
        margin-top: 60px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .card h4 {
        font-size: 30px;
    }

    .card p {
        font-size: 15px;
        margin-top: 5px;
    }

    .card .thumbnail img {
        width: 100%;
    }

    #partfolio {
        margin-top: 60px;
    }
}



